.news-block
    display: flex
    flex-direction: column
    justify-content: space-between
    width: 100%
    border: 1px solid #373759
    border-radius: 10px
    background: none

// Стили для верхней части новостного блока
.news-block__up-info-container
    padding: 1rem
    display: flex
    flex-direction: row
    justify-content: space-between
    
.up-info-container__statistical-info
    display: flex
    flex-direction: row
    gap: 2rem

.semi-transparent-text-s
    margin: 0
    padding: 0
    font-family: "Special Gothic", sans-serif
    font-size: 1rem
    color: #6b758b

.accent-text-s
    margin: 0
    padding: 0
    font-family: "Special Gothic", sans-serif
    font-size: 1rem
    color: #a9a9b8

.up-info-container__statistical-button
    display: flex
    flex-direction: row
    gap: 1rem

.up-info-container__button-sentiment
    margin: 0
    padding: 0 0.5rem
    font-family: "Special Gothic", sans-serif
    &.sentiment-positive
        background-color: #52c41a !important
        border-color: #52c41a !important
    &.sentiment-negative
        background-color: #f5222d !important
        border-color: #f5222d !important
    &.sentiment-neutral
        background-color: #8c8c8c !important
        border-color: #8c8c8c !important

.text-button
    margin: 0
    padding: 0
    font-family: "Special Gothic", sans-serif
    color: #04241e

.up-info-container__button-info
    padding: 0
    margin: 0
    border: none
    background: none
    cursor: pointer

.up-info-container__button-select
    padding: 0
    margin: 0
    border: none
    background: none
    cursor: pointer


// Стили для заголовка новости
.news-block__headline
    padding: 0 1rem
    display: flex

.news-block__headline-link
    font: "Special Gothic", sans-serif
    font-size: 1.3rem

//Стили для авторства статьи
.news-block__news-meta-info
    padding: 0.5rem 1rem
    display: flex
    flex-direction: row
    justify-content: start
    gap: 2rem

.news-meta-info__block
    display: flex
    flex-direction: row
    align-items: center
    gap: 0.5rem

.news-meta-info__icon
    width: 20px

.semi-transparent-text-m
    margin: 0
    padding: 0
    font-family: "Special Gothic", sans-serif
    font-size: 1.1rem
    color: #6b758b

//Стили для основной части
.news-block__main
  padding: 1rem
  display: flex
  flex-direction: column
  position: relative

  &.expanded
    .news-block__main-text
      display: block
      -webkit-line-clamp: unset
      max-height: none

.news-block__main-text
  margin: 0
  font-family: "Special Gothic", sans-serif
  font-size: 1.2rem
  color: #cecdd4
  white-space: pre-line
  overflow: hidden
  display: -webkit-box
  -webkit-line-clamp: 3
  -webkit-box-orient: vertical
  max-height: 5.5em
  transition: max-height 0.3s ease

.news-block__main-text__show-more-button
    display: flex
    flex-direction: row
    align-items: center
    gap: 1rem
    padding: 0
    background: none
    border: none
    color: #086ec9
    cursor: pointer
    align-self: flex-start
    font-size: 1.1rem
    &:hover
        color: #087add

.button-arrow
    width: 10px

.news-block__keywords
    padding: 1rem
    display: flex
    flex-direction: row
    flex-wrap: nowrap
    overflow: hidden
    gap: 0.8rem

.news-block__keywords.keywords--wrapped
    flex-wrap: wrap
    overflow: visible

.keywords__keyword-tag
    display: flex
    align-items: center
    gap: 0.5rem
    padding: 0.2rem 1rem
    background-color: none
    border: 1px solid #47464d
    border-radius: 20px
    white-space: nowrap

.accent-text-m
    margin: 0
    padding: 0
    font-family: "Special Gothic", sans-serif
    font-size: 1.1rem
    color: #a9a9b8

.keywords__show-more-button 
    background: none
    border: none
    color: #007bff
    cursor: pointer
    font-weight: 500
    flex-shrink: 0
    &:hover 
        background-color: rgba(0, 123, 255, 0.15)
